<template>
  <div class="card">
    <h1 class="title"></h1>
    <p class="content"></p>
  </div>
</template>

<style>
  .card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
  }
</style>

<script>
  class MyCard extends HTMLElement {
    static get observedAttributes() {
      return ['title', 'content']
    }

    constructor() {
      super();
      const shadow = this.attachShadow({ mode: 'open' });
      shadow.innerHTML = TEMPLATE_HTML;
      shadow.adoptedStyleSheets = [sheet];
    }

    connectedCallback() {
      this.shadowRoot.querySelector('.title').textContent = this.getAttribute('title');
      this.shadowRoot.querySelector('.content').textContent = this.getAttribute('content');
    }
  }

  if (!customElements.get('my-card')) {
    customElements.define('my-card', MyCard);
  } else {
    console.warn('There is a component with the same name. Try rename the current!')
  }
</script>