<template>
  <button class="my-button" data-id="button"></button>
</template>

<style>
  .my-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .my-button.primary {
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    color: white;
  }
  .my-button.secondary {
    border: 1px solid rgb(59, 29, 89);
    background-color: rgb(59, 29, 89);
    color: white;
  }
  .my-button.tertiary {
    border: 1px solid rgb(34, 17, 51);
    background-color: rgb(34, 17, 51);
    color: white;
  }
</style>